*{
	margin:0;
	padding: 0;
	box-sizing: 0;
}

input.invalid, textarea.invalid, select.invalid
{
    background-color: #ffdddd;
}
 #form .error {
	color: red;
}
.formcontainer{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
	

}
.formcard{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 5px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	/*background-color: white;*/

}

.formcard-content{
	display: flex;
	flex-direction: row;
	width: 130%;
}

 input[type=text]{

	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-height: 48px;
	margin-top: 10px;
	text-indent: 10px;
}

input[type=submit]{

	margin-top: 10px;
}

@media only screen and (min-width:360px){

}

@media only screen and (min-width:720px){

}

@media only screen and (min-width:1080px){


	.formcard{
		width: 30%;
	}
	
	
}

