*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: #3b5998;
	height: 60px;
}
.header-content{

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}
.content h3{
	color: white;
}